    @using CMPE312_PROJECT.Models.Entity;
    @model Player
    @{
        ViewBag.Title = "AddPlayer";
    }
    
<script>
    //var dropdown = document.getElementById("select");
    //Model.teamID = dropdown.value
</script>


    <h2>AddPlayer</h2>

    <form method="post" action="~/Player/AddPlayer">
        <ul>
            <li><label>Name<input name="Name" value="@Model.name" type="text" /></label></li>
            <li><label>Surname<input name="Surname" value="@Model.surname" type="text" /></label></li>
            <li><label>Birth Date<input name="BirthDate" value="@Model.birthDate" type="date" /></label></li>
            <li><label>Position<input name="Position" value="@Model.position" type="text" /></label></li>
            <li><label>Transfer Fee<input name="TransferFee" value="@Model.transferFee" type="number" /></label></li>
            <li><label>Salary<input name="Salary" value="@Model.salary" type="number" /></label></li>
            <!-- <li><label>Team Name<input name="TeamName" value="" type="text" /></label></li> -->
            <!--Html.DropDownList("select", list, "All", null)-->
            <!--Html.DropDownListFor(model => model.teamID, (SelectList)ViewBag.Teams)-->
            <li>
                <p><label>Choose Team</label></p>
                @foreach (Team team in (List<Team>)ViewData["Teams"])
                {
                    <label>@team.Name<input id="select" type="radio" name="teamName" value="@team.Name"></label>
                }
            </li>

        </ul>
        
        <p><input type="submit" value="Add Player" /></p>

    </form>
