    @using CMPE312_PROJECT.Models.Entity;
    @model Player
    @{
        ViewBag.Title = "Add Player";
    }
    

<script>
    //var dropdown = document.getElementById("select");
    //Model.teamID = dropdown.value
    var selectTeam = document.getElementById("selectTeam");
    @Model.TeamName = selectTeam.value

    var selectPosition = document.getElementById("selectPosition");
    @Model.Position = selectPosition.value
</script>
    <h2>AddPlayer</h2>

    <form method="post" action="~/Player/AddPlayer">
        <ul>
            <li><label>Name<input name="Name" value="@Model.Name" type="text" /></label></li>
            <li><label>Surname<input name="Surname" value="@Model.Surname" type="text" /></label></li>
            <li><label>Birth Date<input name="BirthDate" value="@Model.BirthDate" type="date" /></label></li>
            <li>
                <p>
                    <select name="Position">
                        @foreach (Position position in (List<Position>)ViewData["Positions"])
                        {
                            <option value="@position.PositionValue">@position.PositionValue</option>
                        }
                    </select>
                </p>
            </li>

            <li><label>Transfer Fee<input name="TransferFee" value="@Model.TransferFee" type="number" /></label></li>
            <li><label>Salary<input name="Salary" value="@Model.Salary" type="number" /></label></li>
            <!-- <li><label>Team Name<input name="TeamName" value="" type="text" /></label></li> -->
            <!--Html.DropDownList("select", list, "All", null)-->
            <!--Html.DropDownListFor(model => model.teamID, (SelectList)ViewBag.Teams)-->
            <li>
                <p>
                    <select name="TeamName">
                        @foreach (Team team in (List<Team>)ViewData["Teams"])
                        {
                            <option value="@team.Name">@team.Name</option>
                        }
                    </select>
                </p>
            </li>

        </ul>
        
        <p><input type="submit" value="Add Player" /></p>

    </form>
