<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        /* Dropdown Button */
        .dropbtn {
            background: #222;
            color: #999;
            padding: 16px;
            font-family: sans-serif;
            font-size: 14px;
            border: none;
            cursor: pointer;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }

        a:hover {color:green;}
        body {
            height:100%;
            min-height:100%;
            padding-bottom: 0px;
            margin-bottom: 0px; 
        }
        footer {
            padding-bottom: 0px;
            margin-bottom: 0px;
            clear: both;
            background-color: #222222;
            color: #888;
            height: 50px;
        }
            footer p {
                bottom: 0;
                width: 100%;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    @Html.ActionLink("Football League Information System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
 
                    @{

                        if ((Session["LoggedIn"] == null) || ((bool)Session["LoggedIn"] == false))
                        {
                            <li style="float:right;margin-left:335px;">@Html.ActionLink("Login", "Login", "Authentication")</li>
                            <li style="float:right;margin-left:335px;margin-right:-335px;">@Html.ActionLink("Signup", "Signup", "Authentication")</li>
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Comments</button>
                                    <div class="dropdown-content">
                                        <a href="~/Comment/ListPlayerComments">See Player Comments</a>
                                        <a href="~/Comment/ListTeamComments">See Team Comments</a>
                                    </div>
                                </div>
                            </li>
                        }

                        else
                        {

                        }

                        if ((Session["LoggedIn"] == null) || (Session["IsAdmin"] == null) || (Session["IsPresident"] == null))
                        {

                        }

                        else if ((bool)Session["IsAdmin"] == false && (bool)Session["LoggedIn"] == true && (Session["IsPresident"] != null))
                        {
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Comments</button>
                                    <div class="dropdown-content">
                                        <a href="~/Comment/ListPlayerComments">See Player Comments</a>
                                        <a href="~/Comment/ListTeamComments">See Team Comments</a>
                                        <a href="~/Comment/CommentPlayer">Comment Player</a>
                                        <a href="~/Comment/CommentTeam">Comment Team</a>
                                    </div>
                                </div>
                            </li>

                            <li style="float:right;margin-left:320px">@Html.ActionLink("Logout", "Logout", "Authentication")</li>
                            <li style="float:right;margin-left:320px;margin-right:-320px;">@Html.ActionLink("Account", "GetUserInfo", "Authentication")</li>


                            if (Convert.ToDecimal(Session["IsPresident"]) != 0)
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class="dropbtn">Budget</button>
                                        <div class="dropdown-content">
                                            <a href="~/Team/ChangeBudget">Change Team Budget</a>
                                        </div>
                                    </div>
                                </li>

                                <li style="float:right;margin-left:243px">@Html.ActionLink("Logout", "Logout", "Authentication")</li>
                                <li style="float:right;margin-left:243px;margin-right:-243px;">@Html.ActionLink("Account", "GetUserInfo", "Authentication")</li>

                            }
                        }

                        else if ((bool)Session["IsAdmin"] == true)
                        {
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Comments</button>
                                    <div class="dropdown-content">
                                        <a href="~/Comment/ListPlayerComments">See Player Comments</a>
                                        <a href="~/Comment/ListTeamComments">See Team Comments</a>
                                        <a href="~/Comment/CommentPlayer">Comment Player</a>
                                        <a href="~/Comment/CommentTeam">Comment Team</a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Teams</button>
                                    <div class="dropdown-content">
                                        <a href="~/Team/AddTeam">Add Team</a>
                                        <a href="~/Team/DeleteTeam">Delete Team</a>
                                        <a href="~/President/ChangePresident">Change President</a>
                                        <a href="~/Coach/ChangeCoach">Change Coach</a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Players</button>
                                    <div class="dropdown-content">
                                        <a href="~/Player/AddPlayer">Add Player</a>
                                        <a href="~/Player/DeletePlayer">Delete Player</a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">System Management</button>
                                    <div class="dropdown-content">
                                        <a href="~/Authentication/UserInformation">Users</a>
                                        <a href="~/Authentication/ChangeStatus">Change User Status</a>
                                        <a href="~/Authentication/ChangeUserPassword">Change User Password</a>
                                        <a href="~/Authentication/Statistics">Statistics</a>
                                    </div>
                                </div>
                            </li>

                            <li style="float:right;margin-left:100px">@Html.ActionLink("Logout", "Logout", "Authentication")</li>
                            <li style="float:right;margin-left:100px;margin-right:-100px;">@Html.ActionLink("Account", "GetUserInfo", "Authentication")</li>

                        }


                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" >
        @RenderBody()
        @ViewBag.message
        @TempData["message"]

    </div>
    <hr style=" clear:both;" />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
