@using CMPE312_PROJECT.Models.Entity;
@model Comment

@{
    ViewBag.Title = "Comment Team";
}
<script>
    function submit() {
        var comment = document.getElementsByName("comment")
        @Model.CommentText= comment.text;

        var selectTeam = document.getElementById("selectTeam");
        @Model.TeamName = selectTeam.value
    }

</script>

<h2>Comment Team</h2>


<!--Html.DropDownList("ID", new SelectList(ViewBag.Teams, "ID", "Name"))-->
<form method="post" action="~/Comment/CommentTeam" id="commentForm">
    <ul>
        <li>
            <p><label>Choose Team</label></p>
            
            
            @{ if ((List<Team>)ViewData["Teams"] != null)
                {

                    foreach (Team team in (List<Team>)ViewData["Teams"])
                    {
                <label>@team.Name<input id="selectTeam" type="radio" name="teamName" value="@team.Name"></label>

                        }
                    }
                }
        </li>
    </ul>

    <label>Enter your comment here: <input id="Addcomment" name="comment" value="@Model.CommentText"></label>
        <p><input type="submit" onclick="submit()" value="Add Comment" /></p>
</form>


<div >



</div>