@using CMPE312_PROJECT.Models.Entity;
@model Credential
@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>

<form method="post" action="~/Authentication/Signup">
    <ul>
        <li><label>Name<input name="Name" value="@Model.Name" type="text" /></label></li>
        <li><label>User ID<input name="UserId" value="@Model.UserId" type="text" /></label></li>
        <li><label>Password<input name="Password1" value="@Model.Password1" type="password" /></label></li>
        <li><label>Password Again<input name="Password2" value="@Model.Password2" type="password" /></label></li>
        <li><label>E-Mail<input name="Email" value="@Model.Email" type="text" /></label></li>
    </ul>
    <input type="submit" value="Register" />

</form>