
@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<p><label> Number of Users: @ViewData["UserNumber"]</label></p>
<p><label> Number of Active Users: @ViewData["Active"]</label></p>
<p><label> Number of Inactive Users: @ViewData["Inactive"]</label></p>
<br />

<p><label> Number of Teams: @ViewData["TeamNumber"]</label></p>
<p><label> Number of Players: @ViewData["PlayerNumber"]</label></p>
<p><label> Number of Coaches: @ViewData["CoachNumber"]</label></p>
<p><label> Number of Presidents: @ViewData["PresidentNumber"]</label></p>
<br />

<p><label> Number of Comments: @ViewData["CommentNumber"]</label></p>