@using CMPE312_PROJECT.Models.Entity;
@model Coach
@{
    ViewBag.Title = "AddCoach";
}

<h2>AddCoach</h2>

<form method="post" action="~/Coach/ChangeCoach">
    <ul>
        <li><label>Cach Name<input name="Name" value="@Model.name" type="text" /></label></li>
        <li><label>Coach Surname<input name="Surname" value="@Model.surname" type="text" /></label></li>
        <li><label>Birth Date<input name="BirthDate" value="@Model.birthDate" type="date" /></label></li>
        <li><label>Coach Salary<input name="Salary" value="@Model.salary" type="text" /></label></li>
        <li><label>Team Name<input name="TeamName" value="@Model.teamName" type="text" /></label></li>
    </ul>

    <p><input type="submit" value="Change Coach" /></p>

</form>