@using CMPE312_PROJECT.Models.Entity;
@model Coach
@{
    ViewBag.Title = "Change Coach";
}

<h2>AddCoach</h2>

<form method="post" action="~/Coach/ChangeCoach">
    <ul>
        <li><label>Coach Name<input name="Name" value="@Model.Name" type="text" /></label></li>
        <li><label>Coach Surname<input name="Surname" value="@Model.Surname" type="text" /></label></li>
        <li><label>Birth Date<input name="BirthDate" value="@Model.BirthDate" type="date" /></label></li>
        <li><p><label>Coach Salary<input name="Salary" value="@Model.Salary" type="text" /></label>Million €</p></li>
        <!--<li><label>Team Name<input name="TeamName" value="" type="text" /></label></li>-->
        <li>
            <p>
                <select name="TeamName">
                    @foreach (Team team in (List<Team>)ViewData["Teams"])
                    {
                        <option value="@team.Name">@team.Name</option>
                    }
                </select>
            </p>

        </li>

    </ul>

    <p><input type="submit" value="Change Coach" /></p>

</form>