@using CMPE312_PROJECT.Models.Entity;
@model Team
@{
    ViewBag.Title = "AddTeam";
}

<h2>AddTeam</h2>

<form method="post" action="~/Team/AddTeam">
    <p><label>Team Name<input name="Name" value="@Model.Name" type="text" /></label></p>
    <p><label>Team City<input name="City" value="@Model.City" type="text" /></label></p>
    <p><label>Team Foundation Year<input name="foundation" value="@Model.Foundation" type="number" /></label></p>
    <p><label>Team Budget<input name="Budget" value="@Model.Budget" type="number" /></label>Million €</p>
    <p><label>Number Of Championships<input name="NumberOfChampionship" value="@Model.NumberOfChampionship" type="number" /></label></p>
    <p><label>Team Point<input name="Point" value="@Model.Point" type="number" /></label></p>

    <input type="submit" value="Add Team" />
</form>