@using CMPE312_PROJECT.Models.Entity;
@model President
@{
    ViewBag.Title = "ChangePresident";
}

<script>
    var dropdown = document.getElementById("select");
    @Model.teamName = dropdown.value
</script>

<h2>ChangePresident</h2>

<form method="post" action="~/President/ChangePresident">
    <ul>
        <li><label>Name<input name="name" value="@Model.name" type="text" /></label></li>
        <li><label>Surname<input name="surname" value="@Model.surname" type="text" /></label></li>
        <li><label>Birth Date<input name="birthDate" value="@Model.birthDate" type="date" /></label></li>
        <li><label>Team Name<input name="teamName" value="@Model.teamName" type="text" /></label></li>
        <li>
            @foreach (Team team in (List<Team>)ViewData["Teams"])
            {
                <label>@team.Name<input id="select" type="radio" name="teamName" value="@team.Name"></label>
            }
        </li>

    </ul>
    <p><input type="submit" value="Change President" /></p>
</form>