@using CMPE312_PROJECT.Models.Entity;
@model President
@{
    ViewBag.Title = "Change President";
}

<script>
    var dropdown = document.getElementById("select");
    @Model.TeamName = dropdown.value
</script>

<h2>ChangePresident</h2>

<form method="post" action="~/President/ChangePresident">
    <ul>
        <li><label>Name<input name="Name" value="@Model.Name" type="text" /></label></li>
        <li><label>Surname<input name="Surname" value="@Model.Surname" type="text" /></label></li>
        <li><label>Birth Date<input name="BirthDate" value="@Model.BirthDate" type="date" /></label></li>
        <!--<li><label>Team Name<input name="teamName" value="" type="text" /></label></li>-->
        <li>
            <p>
                <label>Choose Team</label>
                <select name="TeamName">
                    @foreach (Team team in (List<Team>)ViewData["Teams"])
                    {
                        <option value="@team.Name">@team.Name</option>
                    }
                </select>
            </p>

        </li>

    </ul>
    <p><input type="submit" value="Change President" /></p>
</form>